.cart-container {
   margin-top: 28rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.checkout-title {
   margin-top: 50rem;
   text-decoration: none;
   color: #fff;
   border: 2px solid rgba(107, 28, 238, 1);
   background: rgba(107, 28, 238, .5);
   padding: .5rem;
   border-radius: 5px;
}