.home-container {
  z-index: 100;
  position: fixed;
  display: block;
  color: #fff;
  width: 100%;
  background: rgb(107, 28, 235);
}
.home-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.title-text {
  display: block;
  font-size: 3rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

span.dot {
  color: gold;
  font-size: 4rem;
  margin-right: -5px;
  margin-left: -5px;
}

@media (min-width: 900px) {
  .title-text {
    font-size: 5rem;
  }

  span.dot {
    font-size: 6rem;
  }
}
