.image-container {
  align-self: center;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  transition: all .5s ease;
}

.item-description {
  display: none;
}

.image-container.active {
  justify-content: flex-start;
  height: 60vh;
  width: 60vw;
  transition: all .5s ease;
}

.item-description.active {
  display: block;
}

.image {
  border-radius: 8px;
  height: 30vh;
  width: 70vw;
  max-width: 600px;
  mask-image: rgb(0, 0, 0);
  -webkit-mask-image: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0) 10%,
    rgba(0, 0, 0, 0.6530987394957983) 40%,
    rgba(0, 0, 0, 0.8267682072829132) 55%
  );
}

.image-text {
  position: absolute;
  bottom: .3rem;
  height: 4rem;
  left: 1rem;
}

button {
  font-size: 1.2rem;
  border-radius: 5px;
  padding: .6rem;
  position: relative;
  right: -220px;
  bottom: 35px;
  border: none;
  background: rgba(107, 28, 238, .5);
  color: #e0e0e0;
}
