.image-container-container {
  display: flex;
  flex-flow: column;
}

.image-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  transition: all 0.5s ease;
  min-height: 200px;
}

.card-container {
  width: min(300px, 80vw);
}

.image {
  border-radius: 8px;
  height: 30vh;
  width: 100%;
  max-width: 600px;
  mask-image: rgb(0, 0, 0);
  -webkit-mask-image: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0) 10%,
    rgba(0, 0, 0, 0.6530987394957983) 40%,
    rgba(0, 0, 0, 0.8267682072829132) 55%
  );
}

.image-text {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}

.item-description {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: all 0.3s ease;
}

.card-container button {
  display: none;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0.6rem;
  border: none;
  background: rgba(107, 28, 238, 0.5);
  color: #e0e0e0;
}

/* .image-container.active {
  min-height: 500px;
} */

.image-container.active .image {
  mask-image: none;
}

.image-container.active .item-cardname {
  text-align: center;
}

.image-container.active .item-description {
  visibility: visible;
  max-height: 100%;
  opacity: 1;
  transition: all 0.3s ease;
  margin: 2rem 0 2rem 0;
}

.image-container.active button {
  /* margin: 2rem 0 2rem 0; */
  display: block;
}

@media (min-width: 900px) {
  .image-container-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .image-container {
    min-width: 400px;
  }
}
