.image-container {
  align-self: center;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.image {
  border: 3px solid #e0e0e0;
  height: 30vh;
  width: 70vw;
  max-width: 600px;
  mask-image: rgb(0, 0, 0);
  -webkit-mask-image: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0) 10%,
    rgba(0, 0, 0, 0.6530987394957983) 40%,
    rgba(0, 0, 0, 0.8267682072829132) 55%
  );
}

.image-text {
  position: absolute;
  bottom: .3rem;
  height: 4rem;
  left: 1rem;
}
