.desktop-nav {
  display: none;
}

.nav-container {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(34, 67, 255, 0.3);
  /* background-color: transparent; */
  backdrop-filter: blur(5px);
  border-radius: 30% 0 0 80%;
  position: fixed;
  bottom: 90px;
  right: -100%;
  width: 11rem;
  height: 20rem;
  transition: all 0.3s ease;
}

.nav-container.active {
  right: 0;
}

.nav-items {
  /* color: #fff; */
  list-style: none;
}

.nav-container a {
  margin-right: 3rem;
  font-size: 1.7rem;
  display: block;
  text-align: right;
  margin-bottom: 2rem;
  color: white;
  text-decoration: none;
}

.mobile-menu-btn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 60px;
  height: 60px;
}

@media (min-width: 900px) {
  .nav-container {
    background: rgb(88, 24, 190);
    position: fixed;
    border-radius: 0;
    top: 15vh;
    right: 0;
    width: 100vw;
    height: 5vh;
  }

  .nav-items {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-items a {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .nav-items a:hover {
    color: gold;
    font-size: 1.6rem;
  }

  .mobile-menu-btn {
    display: none;
  }
}
