.payment-info {
  margin-top: 20rem;
  text-align: center;
}

.form-payment {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.form-payment input {
  max-width: 500px;
  padding: .6rem;
  margin-bottom: 3rem;
}

.name-payment {
  grid-column: 3/7;
  grid-row: 1/2;
}

.lastName-payment {
  grid-column: 3/7;
  grid-row: 2/3;
}

.street-payment {
  grid-column: 3/7;
  grid-row: 3/4;
}

.zip-payment {
  grid-column: 3/4  ;
  grid-row: 5/6;
}

.city-payment {
  grid-column: 3/4;
  grid-row: 4/5;
  
}

.state-payment {
  grid-column: 4/5;
  grid-row: 4/5;
}

.btn-payment {
  cursor: pointer;
  grid-column: 4/6;
  align-items: center;
  grid-row: 6/7;
  width: 100px;
}

/* CONFIRMATION STYLES */
.confirm-container {
  border: 2px solid #fff;
  margin: 2rem 2rem;
}

.buyer-container {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  flex-direction: column;
}

.name {
  line-height: 25px;
  
}

.street-address {
  line-height: 25px;
}

.confirmation {
  margin: 2rem 0;
}

.btn-confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirmation-btn {
  margin: 2rem 0;
  padding: .3rem;
}