.login-page {
   margin-top: 20rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.login-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.form-login {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 2rem 0;
}

.form-email, .form-password {
   padding: .5rem;
   max-width: 300px;
   width: 40vw;
}

.form-email {
   margin-bottom: 2rem;
}

.btn-login {
   margin-top: 2rem;
   padding: .5rem;
   width: 100px;
}