.profile-title {
   display: block;
   margin-top: 3rem;
}

.register-title {
   display: block;
   margin-bottom: 4rem;
}

.login-page {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.login-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.form-login {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 5rem 0;
}

.form-email, 
.form-password, 
.form-username,
.form-firstName, 
.form-lastName {
   padding: .6rem;
   max-width: 300px;
   width: 40vw;
   margin-bottom: 1rem;
}

.form-email {
   margin-bottom: 2rem;
}

.btn-login {
   margin-top: 2rem;
   border: none;
   padding: .5rem;
   width: 100px;
}

.register-btn {
   font-size: 1.1rem;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 2rem;
   padding: .5rem;
   width: 5.5rem;
   color: #fff;
   background: rgba(107, 28, 238, .5);
   border: none;
}

.register-btn:hover {
   background: rgba(91, 31, 187, 0.5);
}

.login-btn {
   font-size: 1.3rem;
   border-radius: 5px;
   cursor: pointer;
   border: none;
   margin-top: 2rem;
   padding: .5rem;
   width: 5rem;
   margin-bottom: 5rem;
   color: #fff;
   background: rgba(107, 28, 238, .5);
}

.login-btn:hover {
   background: rgba(91, 31, 187, 0.5);
}

.logout-btn:hover {
   background: rgba(91, 31, 187, 0.5);
}

.logout-btn {
   cursor: pointer;
   margin-top: 2rem;
   padding: .5rem;
   width: 5rem;
   color: #fff;
   font-size: 1.2rem;
   background: rgba(107, 28, 238, .5);
   width: 7rem;
   border-radius: 5px;
   border: none;
}

.selling-items-container {
   text-align: center;
   min-height: 40vh;
   max-height: 70vh;
   overflow: scroll;
   border: 1px solid white;
   width: 20vw;
 }

 .selling {
    padding: 1rem;
    border-bottom: 2px solid #fff;
 }

 .sold {
    padding: 1rem;
    border-bottom: 2px solid #fff;
 }

  
 .sold-items-container{
   text-align: center;
   min-height: 40vh;
   max-height: 70vh;
   overflow: scroll;
   border: 1px solid white;
   width: 20vw;
 }

 .profile-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-left: 5rem;
    text-align: left;
 }
  
 @media only screen and (min-width: 420px) {
   .listed-items-container {
      display: flex;
      justify-content: center;
   } 
 }
 
