.profile-title {
   display: block;
   /* margin-bottom: 8rem; */
   margin-top: 3rem;
}

.login-page {
   /* margin-top: 10rem; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.login-container {
   /* margin-bottom: 8rem; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.form-login {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 10rem 0;
}

.form-email, .form-password {
   padding: .6rem;
   max-width: 300px;
   width: 40vw;
}

.form-email {
   margin-bottom: 2rem;
}

.btn-login {
   margin-top: 2rem;
   padding: .5rem;
   width: 100px;
}