.theTeam {
   display: block;
   text-align: center;
   margin: 5rem 0;
}

.kaung-container {
   display: grid;
   grid-template-columns: 1fr 4fr;
}

img {
   margin-right: 3rem;
}

.img1 {
   margin-left: 3rem;
   margin-bottom: 4rem;
   width: 250px;
   height: 250px;
}

.kaung-name {
   text-decoration: underline;
   font-size: 2rem;
}

.about-kaung {
   font-size: 1.3rem;
   margin-right: 1.5rem;
   max-width: 400px;
}

.clay-container {
   display: grid;
   grid-template-columns: 1fr 4fr;
}

.img2 {
   margin-left: 3rem;
   margin-bottom: 4rem;
   width: 250px;
   height: 250px;
}

.clay-name {
   text-decoration: underline;
   font-size: 2rem;
}

.about-clay {
   font-size: 1.3rem;
   margin-right: 1.5rem;
   max-width: 400px;
}

.kel-container {
   display: grid;
   grid-template-columns: 1fr 4fr;
}

.img3 {
   margin-left: 3rem;
   margin-bottom: 4rem;
   width: 300px;
   height: 250px;
}

.kel-name {
   text-decoration: underline;
   font-size: 2rem;
}

.about-kel {
   font-size: 1.3rem;
   margin-right: 1.5rem;
   max-width: 400px;
}


