.theTeam {
  display: block;
  text-align: center;
  margin: 3rem 0;
}

.kaung-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.team-image {
  display: flex;
  position: relative;
  margin-left: 3rem;
  margin-bottom: 4rem;
  width: 250px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  justify-content: center;
}

.team-image img {
  position: absolute;
  width: 120%;
  overflow: hidden;
}

.kel-image img {
  width: 200%;
}

.kaung-name {
  text-decoration: underline;
  font-size: 2rem;
}

.about-kaung {
  font-size: 1.3rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
  max-width: 400px;
}

.clay-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.img2 {
  margin-left: 3rem;
  margin-bottom: 4rem;
  width: 250px;
  height: 250px;
}

.clay-name {
  text-decoration: underline;
  font-size: 2rem;
}

.about-clay {
  font-size: 1.3rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
  max-width: 400px;
}

.kel-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.img3 {
  margin-left: 3rem;
  margin-bottom: 4rem;
  width: 300px;
  height: 250px;
}

.kel-name {
  text-decoration: underline;
  font-size: 2rem;
}

.about-kel {
  font-size: 1.3rem;
  margin-right: 1.5rem;
  margin-left: 1em;
  max-width: 400px;
}

.dream {
  font-style: italic;
}
